@font-face {
    font-family: 'FranklinGothic-Medium';
    src: url(../'FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg'),
        url(../'FranklinGothic-Medium.ttf') format('truetype'),
        url(../'FranklinGothic-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #344051;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}


body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 11111;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    float: left;
    font-family: "FranklinGothic-Medium", sans-serif;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.white-btn:visited {
    color: white;
}

main {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
}

.title_container {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.title_container h1 {
    font-family: Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    z-index: 10;
}

.custom-css3 {
    font-size: 40px;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #828995;
}


.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #828995;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.menu li a {
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #f8a02b;

}

.menu li a:active {
    transform: scale(1.1)
}


.title_container input {
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover {
    background: #344051;
    color: white;
}

.title_container input:active {
    transform: scale(1.1)
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@media (max-width: 991px) {

    .title_container h1,
    .title_container h4,
    .title_container input {
        color: #fff;
        position: relative;
        z-index: 3;
    }

    .title_container input {
        border: 2px solid #fff;
    }

    .main {
        position: relative;
    }

    .main::after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

/*ОБО МНЕ*/

.about me {
    width: 100%;
    height: 720px%;
}

.info {
    width: 100%;
    height: 720px;
    background-size: cover;
    background: #fcfdfd;
    float: left;
    max-height: 100%;

}

.info-h2 {
    font-size: 30px;
    color: #263244;
    transition: all 0.2s;
    margin-top: 80px;


}

.info-therta {
    margin-top: 10px;
}

.info-foto {
    margin-top: 50px;
    -webkit-animation: info-foto 3s alternate infinite;
    -o-animation: info-foto 3s alternate infinite;
    animation: info-foto 3s alternate infinite;
}

.info-text_1 {
    margin-top: 20px;
    display: block;
    font-size: 13px;
    color: #80858f;
}

.info-text_2 {
    margin-top: 40px;
    display: block;
    font-size: 13px;
    color: #80858f;
}

.info-input {
    margin-top: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid #6f707e;
    border-radius: 5px;
    background: none;
    font-size: 15px;
    color: #6f707e;
    padding: 0px 10px;

}


.info-h2:hover {
    color: #f8a02b;
}

@keyframes info-foto {
    to {
        transform: scale3d(50%, 50%, 50%);
    }
}

.info-input {
    transition: all 0.2s;
    transform: scale(1);
}

.info-input:hover {
    background: #f8a02b;
    color: white;
}

.info-input:active {
    transform: scale(0.9, 0.9)
}

/*ЧТО Я УМЕЮ*/

.What I can do {
    width: 100%;
    height: 525px;
}

.ability {
    width: 100%;
    height: 525px;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg)no-repeat;
    float: left;
}

.ability-h2 {
    margin-top: 50px;
    font-size: 30px;
    transition: all 0.2s;


}

.ability-therta {}

.ability-img1 {
    display: inline-block;
    margin-top: 50px;
    transition: all 0.2s;
    transform: scale(1);
   
}

.ability-img2 {
    display: inline-block;
    margin-top: 50px;
    transition: all 0.2s;
    transform: scale(1);
    
}

.ability-img3 {
    display: inline-block;
    margin-top: 45px;
    transition: all 0.2s;
    transform: scale(1);
    
}

.ability-img4 {
    display: inline-block;
    margin-top: 50px;
    transition: all 0.2s;
    transform: scale(1);
    
}

.ability-web {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: #d17700;
    margin-top: 30px;
   

}

.ability-Development {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: #d17700;
    margin-top: 30px;
   

}

.ability-optimization {
    display: inline-block;
    font-size: 12.5px;
    font-weight: 700;
    color: #d17700;
    margin-top: 30px;

}

.ability-marketing {
    display: inline-block;
    font-size: 12.5px;
    font-weight: 700;
    color: #d17700;
    margin-top: 30px;


}

.ability-small-1 {
    float: left;
    font-size: 12.5px;
    color: #80858f;
    margin-top: 15px;
    text-align: center;
    line-height: 20px;
}

.ability-small-2 {
    float: left;
    font-size: 12.5px;
    color: #80858f;
    margin-top: 15px;
    text-align: center;
    line-height: 20px;
}

.ability-small-3 {
 float: left;
    font-size: 12.5px;
    color: #80858f;
    margin-top: 12px;
    text-align: center;
    line-height: 20px;
}

.ability-small-4 {
    float: left;
    font-size: 12.5px;
    color: #80858f;
    margin-top: 13px;
    text-align: center;
    line-height: 20px;
}



.ability h2:hover {
    color: #f8a02b;
}

.ability-img1:hover {
    transform: scale(2, 2);
}

.ability-img1:active {
    transform: scale(1, 1);
}

.ability-img2:hover {
    transform: scale(2, 2);
}

.ability-img2:active {
    transform: scale(1, 1);
}

.ability-img3:hover {
    transform: scale(2, 2);
}

.ability-img3:active {
    transform: scale(1, 1);
}

.ability-img4:hover {
    transform: scale(2, 2);
}

.ability-img4:active {
    transform: scale(1, 1);

}


.ability-web:hover {
    color: #263244;
    transform: scale(1);
}

.ability-web:active {
    transform: scale(0.8, 0.8);
}

.ability-Development:hover {
    color: #263244;
    transform: scale(1);
}

.ability-Development:active {
    transform: scale(0.8, 0.8);
}

.ability-optimization:hover {
    color: #263244;
    transform: scale(1);
}

.ability-optimization:active {
    transform: scale(0.8, 0.8);
}

.ability-marketing:hover {
    color: #263244;
    transform: scale(1);
}

.ability-marketing:active {
    transform: scale(0.8, 0.8);
}

.ability-small-1:hover {
    color: #f8a02b;
}

.ability-small-2:hover {
    color: #f8a02b;
}

.ability-small-3:hover {
    color: #f8a02b;
}

.ability-small-4:hover {
    color: #f8a02b;
}


/*КЕЙСЫ*/

.collection {
    width: 100%;
    height: 1200px;
    float: left;
}

.cases {
    width: 100%;
    height: 250px;
    background-color: #fcfdfd;
    float: left;
}

.cases h2 {
    font-weight: bold;
    transition: all 0.2s;
}

.cases-therta {}

.cases-small-1 {
    display: block;
    font-size: 12.5px;
    text-align: center;
    margin-top: 40px;
    color: #626976;
}

.cases-img {
    width: 100%;
    height: 500px;
    background: url(../img/%D1%84%D0%BE%D1%82%D0%BA%D0%B01.png) center center/ 100% no-repeat;
    float: left;
    max-width: 100%;

}

.cases-client {
    display: inline-block;
    color: #3f495a;
    float: left;

}


.cases-small-2 {
    font-size: 15px;
    color: #3f495a;
    float: left;
}

.cases-small-3 {
    font-size: 15px;
    color: #3f495a;
    float: left;
}

.project_name {
    display: inline-block;
    color: #384354;
    float: left;


}

.cases-small-4 {
    font-size: 15px;
    color: #3f495a;
    float: left;
}

.cases_input {
    height: 50px;
    text-align: center;
    border: 1px solid #63b5ae;
    border-radius: 5px;
    padding: 15px 40px;
    background-color: #63b5ae;
    color: #fff;
    font-size: 14px;
    float: left;

}


.cases h2:visited {
    color: #263244;
}

.cases h2:hover {
    color: #f8a02b;
}

.cases-small-1:hover {
    color: #f8a02b;
}

.cases_input {
    transition: all 0.2s;
    transform: scale(1);
}

.cases_input:hover {
    color: white;
}

.cases_input:active {
    transform: scale(0.9, 0.9)
}



/*Расчет стоимости*/

.calculation {
    width: 100%;
    height: 750px;
    float: left;
}

.cost_calculation {
    width: 100%;
    height: 750px;
    background-color: #ffffff;
    float: left;

}

.cost_calculation_box {
    width: 975px;
    height: 675px;
    border: 1px solid #000;
    float: left;
    box-shadow: 1px 1px 5px #000;
    max-width: 100%;
    


}

.cost_calculation h2 {
    font-size: 35px;
    font-weight: bold;
    color: #1c2534;
    transition: all 0.2s;
    padding-top: 20px;

}

.cost_calculation-type {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

#list1 {
    border: 1px solid #eeeeee;
    height: 40px;
    width: 580px;
    background-color: #eeeeee;
    text-align: left;
    font-size: 12.5px;
    color: #737373;
    padding: 10px 26px;
    margin-top: 15px;
    max-width: 100%;



}

.cost_calculation-design {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;


}

#list2 {
    margin-top: 15px;
    border: 1px solid #eeeeee;
    height: 40px;
    width: 580px;
    background-color: #eeeeee;
    text-align: left;
    font-size: 12.5px;
    color: #737373;
    padding: 10px 26px;
    max-width: 100%;


}

.cost_calculation-adadtability {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;


}

#list3 {
    margin-top: 15px;
    border: 1px solid #eeeeee;
    height: 40px;
    width: 580px;
    background-color: #eeeeee;
    text-align: left;
    font-size: 12.5px;
    color: #737373;
    padding: 10px 26px;
    max-width: 100%;


}

.line {
    margin-top: 20px;

}

.deadlines {
    display: inline-block;
    color: #1c2534;
    font-size: 15px;
    font-weight: 600;
    float: left;
    margin-top: 20px;


}

.deadlines_0 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #1c2534;
    float: left;
    margin-top: 20px;
}

.cost {
    display: inline-block;
    color: #1c2534;
    font-size: 15px;
    font-weight: 600;
    float: left;

}

.cost_0 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #1c2534;
    float: left;

}



.cost_calculation h2:hover {
    color: red;

}

.cost_calculation-type:hover {
    color: red;
}

.cost_calculation-design:hover {
    color: red;
}

.cost_calculation-adadtability:hover {
    color: red;
}

/*НЕМНОГО СТАТИСТИКИ*/

.some_statistics {
    width: 100%;
    height: 450px;
}

.statistics {
    width: 100%;
    
    background: url(../img/fon.jpg) center/100% 100% no-repeat;
    float: left;
    background-attachment: fixed;
    background-size: cover;
}

.statistics_h2 {
    font-size: 25px;
    color: #1c2534;
    transition: all 0.2s;
    margin-top: 100px;

}

.statistics-therta {}

.statistics_img1 {
    margin-top: 90px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.statistics_img2 {
    margin-top: 90px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.statistics_img3 {
    margin-top: 90px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.statistics_img4 {
    margin-top: 90px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.statistics_120 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #323e4f;
    transition: all 0.3s;
    margin-top: 32px;
}

.statistics_4600 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #323e4f;
    transition: all 0.3s;
    margin-top: 32px;
}

.statistics_340 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 32px;
    color: #323e4f;
    transition: all 0.3s;
}

.statistics_23 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 32px;
    color: #323e4f;
    transition: all 0.3s;
}

.statistics_small_1 {
    display: inline-block;
    font-size: 15px;

    color: #323e4f;
    font-weight: 600;
    float: left;
}

.statistics_small_2 {
    display: inline-block;
    font-size: 15px;

    color: #323e4f;
    font-weight: 600;
    float: left;
}

.statistics_small_3 {
    display: inline-block;
    font-size: 15px;

    color: #323e4f;
    font-weight: 600;
    float: left;
}

.statistics_small_4 {
    display: inline-block;
    font-size: 15px;

    color: #323e4f;
    font-weight: 600;
    float: left;
}

.statistics_h2:hover {
    color: #f8a02b;
}

.statistics_img1:hover {
    transform: rotate(360deg);

}

.statistics_img2:hover {
    transform: skew(-20deg, -5deg);
}

.statistics_img3:hover {
    transform: scale(1.5, 1.5);
}

.statistics_img3:active {
    transform: scale(1, 1);
}

.statistics_img4:hover {
    transform: translate(0%, -30%);
}

.statistics_120:hover {
    transform: scale(2, 2);
    color: #d27f00;
}

.statistics_4600:hover {
    transform: scale(2, 2);
    color: #d27f00;
}

.statistics_340:hover {
    transform: scale(2, 2);
    color: #d27f00;
}

.statistics_23:hover {
    transform: scale(2, 2);
    color: #d27f00;
}

.reviews statistics_h2:hover {
    color: #d27f00;
}


/*ОТЗЫВЫ*/

.opinions {
    width: 100%;
    height: 590px;
}

.reviews {
    width: 100%;
    height: 590px;
    background-color: #fff;
    float: left;
}

.reviews_h2 {
    font-size: 25px;
    color: #1c2534;
    margin-top: 90px;
    transition: all 0.2s;
}

.reviews_therta {
    margin-top: 30px;
}

.reviews_img1 {
    margin-top: 60px;
    -webkit-animation: img1 2s infinite linear alternate;
    -o-animation: img1 2s infinite linear alternate;
    animation: img1 2s infinite linear alternate;
}

.reviews_h4 {
    display: block;
    font-size: 12.5px;
    color: #92969d;
    text-align: center;
    margin-top: 35px;
    transition: all 0.3s;
}

.reviews_signature {
    display: block;
    font-size: 12.5px;
    color: #92969d;
    text-align: center;
    margin-top: 35px;
    transition: all 0.3s;
}

.reviews_form {
    margin-top: 30px;
    float: left;
    text-align: center;
}

@keyframes img1 {
    to {
        transform: rotate(30deg);
    }
}

.reviews_h4:hover {
    color: #1c2534;
    font-size: 15px;
}

.reviews_signature:hover {
    color: #1c2534;
    font-size: 15px;
}

/*МОИ КОНТАКТЫ*/

.my_contacts {
    width: 100%;
    height: 800px;
    float: left;
}

.contacts {
    width: 100%;
    height: 800px;
    background: url(../img/tfon.jpg) center/100% 100% no-repeat;
    float: left;
    background-attachment: local;
   
}

.contacts_h2 {
    margin-top: 60px;
    color: #ffffff;
    font-size: 25px;
    transition: all 0.2s;
}


.contacts_text_1 {
    display: block;
    color: #ffffff;
    margin-top: 15px;
    font-size: 12.5px;
}

.contacts_img1 {
    margin-top: 15px;
    -webkit-animation: contacts_img1 1s infinite alternate;
    -o-animation: contacts_img1 1s infinite alternate;
    animation: contacts_img1 1s infinite alternate;
    max-width: 100%;
}

.contacts_img2 {
    margin-top: 15px;
    -webkit-animation: contacts_img2 1s infinite alternate;
    -o-animation: contacts_img2 1s infinite alternate;
    animation: contacts_img2 1s infinite alternate;
    max-width: 100%;
}

.contacts_img3 {
    margin-top: 15px;
    -webkit-animation: contacts_img3 0.5s infinite alternate;
    -o-animation: contacts_img3 0.5s infinite alternate;
    animation: contacts_img3 0.5s infinite alternate;
    max-width: 100%;
}

.contacts_small-1 {
    display: inline-block;
    color: #fff;
    margin-top: 10px;
    transition: all 0.3s;
    max-width: 100%;
}

.contacts_small-2 {
    display: inline-block;
    color: #fff;
    margin-top: 10px;
    transition: all 0.3s;
    max-width: 100%;
}

.contacts_small-3 {
    display: inline-block;
    color: #fff;
    margin-top: 10px;
    transition: all 0.3s;
    max-width: 100%;
}

.contacts_h4 {
    color: #fff;
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

.contacts_name {
    height: 35px;
    text-align: left;
    font-size: 12.5px;
    border: 1px solid rgba(210, 214, 220, 0.8);
    background-color: rgba(210, 214, 220, 0.8);
    padding: 10px 12px;
    max-width: 100%;

}

.contact_e-mail {
    height: 35px;
    text-align: left;
    font-size: 12.5px;
    border: 1px solid rgba(210, 214, 220, 0.8);
    background-color: rgba(210, 214, 220, 0.8);
    padding: 10px 12px;
    max-width: 100%;
    margin-top: 10px;
    

}

.contacts_message {
    height: 95px;
    text-align: left;
    font-size: 12.5px;
    border: 1px solid rgba(210, 214, 220, 0.8);
    background-color: rgba(210, 214, 220, 0.8);
    padding: 10px 12px;
    margin-top: 10px;
    max-width: 100%;

}

.contacts_button {
    height: 48px;
    outline: 3px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 8px 15px;
    font-weight: 500;
    margin-top: 10px;
    transition: all 0.2s;
    transform: scale(1);
}




.contacts h2:hover {
    color: #f8a02b;
}

@keyframes contacts_img1 {
    to {
        transform: translate(0%, -50%);
    }
}

@keyframes contacts_img2 {
    from {
        transform: translate(60%, 0%)
    }

    to {
        transform: translate(-60%, 0%);
    }
}

@keyframes contacts_img3 {
    to {
        transform: rotate(25deg);
    }
}

.contacts_small-1:hover {
    color: #f8a02b;
    transform: scale(1.5, 1.5);
}

.contacts_small-2:hover {
    color: #f8a02b;
    transform: scale(1.5, 1.5);
}

.contacts_small-3:hover {
    color: #f8a02b;
    transform: scale(1.5, 1.5);
}

.contacts_button:hover {
    color: chartreuse;
    background-color: #f8a02b;
}

.contacts_button:active {
    color: #f8a02b;
    background-color: chartreuse;
    transform: scale(0.8, 0.8);
}

/*КАРТА*/
.map {
    width: 100%;
    max-height: 100%;
   
    

}

.place {
    width: 100%;
    height: 190px;
    background: url(../img/%D0%9A%D0%B0%D1%80%D1%82%D0%B0%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png) center/100% 100% no-repeat;
    float: left;
    background-size: contain;
    max-height: 100%;


}



.place_text {
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-animation: place_text 1s alternate infinite;
    -o-animation: place_text 1s alternate infinite;
    animation: place_text 1s alternate infinite;
    margin-top: 50px;
}

@keyframes place_text {
    0% {
        color: orange;
    }

    15% {
        color: hotpink;
    }

    30% {
        color: lawngreen;
    }

    60% {
        color: blue;
    }

    100% {
        color: black;
    }
}

/*(подвал)*/

footer {
    float: left;
    width: 100%;
    height: 100px;
    background: #354051;
}


.footer_h5 {
    font-size: 12.5px;
    text-align: center;
    margin-top: 40px;
    color: #fff;
}
